@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #3c3c3c;
  --Primary-color: #f36829;
  --Secondry-color: #b9cd7c;
  --default-background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #3c3c3c;
    --Primary-color: #f36829;
    --Secondry-color: #b9cd7c;
    --default-background-color: white;
  }
}

body {
  color: var(--text-color);
  /* background-image: url("/images/hero.png"); */
  /* box-sizing: border-box; */
  /* font-family: inter; */
  padding: 2%;
  background-color: #fff;
  
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}


